black==25.9.0
celery==5.5.3
coverage==7.10.7
cryptography==46.0.4
Django==5.2.6
django-cors-headers==4.9.0
django-debug-toolbar==6.0.0
django-extensions==4.1
django-otp==1.6.1
django-redis==6.0.0
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
drf-spectacular==0.28.0
factory_boy==3.3.3
flake8==7.3.0
isort==6.0.1
pillow==11.3.0
psycopg==3.2.10
PyJWT==2.10.1
qrcode==8.2
sentry-sdk==2.38.0
whitenoise==6.11.0
